<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link th:href="@{/bootstrap-3.4.1-dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{/bootstrap-3.4.1-dist/js/bootstrap.js}"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">首页</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            个人信息
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a th:href="@{'/activity/findinformation?head='+${session.username}}">查看个人信息</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            我是团长
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a th:href="@{'/activity/findAll?head='+${session.username}}">我创建的团队</a>
            </li>
            <li>
              <a th:href="@{'/activity/check?head='+${session.username}}">团员审核</a>
            </li>
            <li>
              <a th:href="@{'/activity/toconfirmpage?head='+${session.username}}">已成立的活动</a>
            </li>
            <!--                        <li>-->
            <!--                            <security:authorize access="hasRole('admin')">-->
            <!--                                <a href="${pageContext.request.contextPath}/role/findAll">角色管理</a>-->
            <!--                            </security:authorize>-->
            <!--                        </li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            我是团员
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a th:href="@{'/join/alreadyjoin?username='+${session.username}}">已加入的团队</a></li>
            <li><a th:href="@{http://localhost:8201/join/findAll}">加入其他团队</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-edit"></span>修改密码</a></li>
      <li><a th:href="@{/group/tologinpage}"><span class="glyphicon glyphicon-trash"></span>注销</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> <span th:text="${session.username}"></span></a> </li>
      <!--            <li><a href="#"><span class="glyphicon glyphicon-user"></span><security:authentication property="principal.username"></security:authentication></a></li>-->
    </ul>
  </div>
</nav>
<div class="container">
  <h3 align="center">队员详情</h3>

  <form id="form" method="post">
    <table border="1" class="table table-bordered table-hover">
      <tr class="success">
        <th><input type="checkbox" id="firstCb"></th>
        <th>用户名</th>
        <th>手机号</th>
        <th>邮箱</th>
        <th>操作</th>
      </tr>
      <tr th:each="de:${details}">
        <td>
          <input name="ids" type="checkbox" value="${de.id}">
        </td>
        <td th:text="${de.username}"></td>
        <td th:text="${de.phoneNum}"></td>
        <td th:text="${de.email}"></td>

        <td><a href="#" onclick="" class="btn btn-default btn-sm" >发送信息</a>&nbsp;
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>